[submodule "algebra"]
	path = algebra
	url = https://github.com/aflaag-notes/algebra
[submodule "algorithms"]
	path = algorithms
	url = https://github.com/aflaag-notes/algorithms
[submodule "automata"]
	path = automata
	url = https://github.com/aflaag-notes/automata
[submodule "database"]
	path = database
	url = https://github.com/aflaag-notes/database
[submodule "languages"]
	path = languages
	url = https://github.com/aflaag-notes/languages
[submodule "packages/Nyx"]
	path = packages/Nyx
	url = https://github.com/Exyss/Nyx
[submodule "network-algs"]
	path = network-algs
	url = https://github.com/aflaag-notes/network-algs
[submodule "advanced-algs"]
	path = advanced-algs
	url = https://github.com/aflaag-notes/advanced-algs
[submodule "logic-cs"]
	path = logic-cs
	url = https://github.com/aflaag-notes/logic-cs
[submodule "graph-theory"]
	path = graph-theory
	url = https://github.com/aflaag-notes/graph-theory
[submodule "quantum-computing"]
	path = quantum-computing
	url = https://github.com/aflaag-notes/quantum-computing
[submodule "cryptography"]
	path = cryptography
	url = https://github.com/aflaag-notes/cryptography
